body {
    background-color: tomato;
}
h1 {
    color: white;
    text-align: center;
    font-family: inherit;

}

p {
    font-family:  monospace;
    font-size: 20px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-color: pink;
}

#doki {
  font-family:  inherite;
  font-size: 30px;
  color: white;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: violet;

}

h2 {
  color: pink;
  text-align: center;
  font-family: inherit;
}
